<div class="container mt-5">
  <%= form_with(model: paciente, local: true) do |form| %>
    <% if paciente.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">
          <%= pluralize(paciente.errors.count, "error") %> impidió que se guardara este paciente:
        </h4>
        <ul class="mb-0">
          <% paciente.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :rut %>
      <%= form.text_field :rut, class: "form-control" %>
    </div>

    <!-- Repite este bloque para cada campo -->
    <div class="form-group">
      <%= form.label :nombres %>
      <%= form.text_field :nombres, class: "form-control" %>
    </div>


    <div class="form-group">
      <%= form.label :apellidos %>
      <%= form.text_field :apellidos, class: "form-control" %>
    </div>


        <div class="form-group">
      <%= form.label :direccion %>
      <%= form.text_field :direccion, class: "form-control" %>
    </div>


     <div class="form-group">
      <%= form.label :ciudad %>
      <%= form.text_field :ciudad, class: "form-control" %>
    </div>


     <div class="form-group">
      <%= form.label :telefono %>
      <%= form.text_field :telefono, class: "form-control" %>
    </div>


    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    </div>


    <div class="form-group">
      <%= form.label :fecha_nacimiento %>
      <%= form.date_field :fecha_nacimiento, class: "form-control" %>
    </div>


    <div class="form-group">
      <%= form.label :estado_civil %>
      <%= form.select :estado_civil,
        ['Soltero/a', 'Casado/a', 'Viudo/a', 'Divorciado/a', 'Conviviente Civil', 'Separado/a'],
        { prompt: 'Seleccione estado civil' },
        class: "form-control" %>
    </div>


    <div class="form-group">
      <%= form.label :comentarios %>
      <%= form.text_area :comentarios, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>



